@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --light: #FFF8F3;
    --primary:#3876BF;
    --light-primary:#99b4d3;
    --grey:#fff;
    --dark-grey:#4e565c;
    --dark:#161b1f;
    --danger:red;
    --light-danger:rgb(232, 159, 159);
    --warning:#fbc02d;
    --light-warning:#fff2c6;
    --success:#388e3c;
    --light-success:#bbf7d0;
    --background:#405D72;
}

body{
    display :flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: var(--light-primary);
    font-family: "poppins",sans-serif;
}

.container{
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
background-color: var(--primary);
border-radius: 5px;
box-shadow: 5px 5px 10px var(--background);
overflow-x: hidden;
}

.container h2{
    padding: 2rem 0;
    font-size: 4rem;
    text-align: center;
}

.error_message{
    background: var(--danger);
    color: var(--grey);
    text-align: center;
    padding: 1rem 0;
    width: 650px;
    margin:0 auto;
    border-radius: 5px;
    display: none;
}

.budget_content{
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}


.ur_budget form input,
.ur_expenses form input{
padding: 0.4rem 1rem;
/* width: 250px; */
border: 2px solid var(--light-warning);
font-family: inherit;
font-size: 1rem;
margin-left: 0.5rem;
border-radius: 3px  ;
}

.ur_budget form input:focus ,
.ur_expenses form input:focus{
outline: none;
}

.ur_budget form ,
.ur_expenses form{
    position: relative;
}

.budget_content .btn{
    position: absolute;
    right: 0;
    outline: none;
    border: none;
    font-family: inherit;
    padding: 0.6rem 0.5rem;
    cursor: pointer;
}

.budget_content .btn:active{
    transform: scale(0.98);
}

/** Cards Start here*/

.container .cards{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(240px,1fr));
    grid-gap: 1.5rem;
    padding: 2rem;
}

.container .cards li{
    display: flex;
    align-items: center;
    padding: 1.8rem;
    gap: 1.5rem;
    background-color: var(--light);
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in;
}

.container .cards li:hover{
    transform: translateY(-10px);
}

.container .cards li .bx{
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 10px;
    font-size: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container .cards li:nth-child(1) .bx{
    background-color: var(--light-primary);
    color: var(--primary);
}

.container .cards li:nth-child(2) .bx{
    background-color: var(--light-warning);
    color: var(--warning);
}

.container .cards li:nth-child(3) .bx{
    background-color: var(--light-success);
    color: var(--success);
}

.container .cards li .info h3 {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--dark);
}
.container .cards li .info p {
    /* font-size: 1.5rem;
    font-weight: 600; */
    color: var(--dark);
}

/** cards end here */

/** table start here */

.tbl_content {
    padding: 2rem;
    background-color: var(--grey);
    margin: 1rem 2rem;
    border-radius: 5px;
}
.tbl_content h3 {
    font-size: 2rem;
    margin: 1rem 0;
}
.tbl_tr_content{
    display: grid;

    list-style-type: none;
    grid-template-columns: 1fr 50% 30% 2fr;
    align-items: center;
    background-color: var(--dark-grey);
    color: var(--light);
    padding: 0.5rem 1rem;
    border-radius: 5px;
    margin: 0.5rem 0;
    cursor: pointer;
}

.tbl_data {
    overflow-y: auto;
    height: 150px;
}

.tbl_tr_content button{
    outline: none;
    border: none;
    columns: var(--light);
    padding: 0.4rem;
    border-radius: 5px;
    cursor: pointer;
    background-color: var(--light-primary);
}

.tbl_tr_content button:active{
    transform: scale(0.98);
}

.tbl_tr_content button:first-child{
    background-color: var(--success);
}